h1 {
  position: absolute;
  top: 45%;
  left: 45%;
  user-select: none;
}
.container {
  width: 300vh;
  height: 300vh;
  position: relative;
}

.box {
  position: absolute;
  bottom: 1%;
  right: 1%;
  height: 50px;
  width: 50px;
  background-color: #00ff00;
}
.link {
  display: block;
  width: 100px;
  height: 100%;
}
